[submodule "apps/go-sdk/sitecrawl-go"]
	path = apps/go-sdk/sitecrawl-go
	url = https://github.com/sitecrawl/sitecrawl-go
[submodule "apps/go-sdk/sitecrawl-go-examples"]
	path = apps/go-sdk/sitecrawl-go-examples
	url = https://github.com/sitecrawl/sitecrawl-go-examples
